.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  border: 0;
  border-radius: 0.3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  color: white;
}
.storybook-button--primary {  
  background-color: #0B1660;
}
.storybook-button--secondary {
  background-color: #7E7E7E;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
