body {
  background-color: var(--tool-background-color);
  color: var(--sakai-text-color-1);
}
a,
a.sakai-link {
  color: var(--link-color);
}
a:hover,
a.sakai-link:hover {
  color: var(--link-hover-color);
}
