body {
  background-color: var(--tool-background-color);
  color: var(--sakai-text-color-1);
}
a,
a.sakai-link {
  color: var(--link-color);
}
a.sakai-link:focus {
  outline: 3px solid var(--focus-outline-color);
}
